<footer id="footer">

    <div id="footer-spacer"></div>
    <div id="footer-content" class="container">
        <div class="row">

            <div class="col-md-5">
                <ul class="footer-quick-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/initiatives">Initiatives</a></li>
                    <li><a href="https://www.utm.utoronto.ca/" target="_blank">UTM</a></li>
                </ul>

                <ul style="padding: 0; list-style-type: none">
                    <li class="footer-social-object" style="margin-left: 0"><a href="mailto:hello@masseyhacks.ca" target="_blank"><i class="fa fa-envelope navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                    <li class="footer-social-object"><a href="https://www.facebook.com/masseyhacks/" target="_blank"><i class="fab fa-facebook-f navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                    <li class="footer-social-object"><a href="https://www.twitter.com/MasseyHacks" target="_blank"><i class="fab fa-twitter navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                    <li class="footer-social-object"><a href="https://www.instagram.com/masseyhacks/" target="_blank"><i class="fab fa-instagram navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-md-6">
                <div id="footer-about" >
                    <h2 style="margin-top: 0">Mathematical and Computational Sciences Society </h2>

                    <p id="footer-address" style="color: rgb(50, 50, 50)">
                        University of Toronto Mississauga<br>
                        3359 Mississauga Rd<br>
                        Mississauga, ON L5L 1C6
                    </p>
                </div>

                <p id="copyright">
                    &lt/&gt by Henry Tu, Marissa Shey, Sherman Liu, and Nina Ricci Lu with <i class="fa fa-coffee" aria-hidden="true"></i><br>
                    Copyright &copy; <span id="year">2020</span>
                </p>
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>

</footer>