<footer id="footer">

    <div id="footer-spacer"></div>
    <div id="footer-content" class="container">
        <div class="row">

            <div class="col-lg-3">
                <ul class="footer-quick-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/initiatives">Initiatives</a></li>
                    <li><a href="https://www.utm.utoronto.ca/" target="_blank">UTM</a></li>
                </ul>

                <ul class="footer-social-media">
                    <li class="footer-social-object" style="margin-left: 0"><a href="mailto:mcss@utmsu.ca" target="_blank"><i class="fa fa-envelope navsocial" aria-hidden="true"></i></a></li>
                    <li class="footer-social-object"><a href="https://www.facebook.com/utmmcss/" target="_blank"><i class="fab fa-facebook-f navsocial" aria-hidden="true"></i></a></li>
                    <li class="footer-social-object"><a href="https://twitter.com/utmmcss" target="_blank"><i class="fab fa-twitter navsocial" aria-hidden="true"></i></a></li>
                    <li class="footer-social-object"><a href="https://www.instagram.com/utmmcss/" target="_blank"><i class="fab fa-instagram navsocial" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-lg-5">
                <div id="footer-about" >
                    <h3 style="margin-top: 0">Mathematical and Computational Sciences Society</h3>

                    <p id="footer-address">
                        University of Toronto Mississauga<br>
                        3359 Mississauga Rd<br>
                        Mississauga, ON L5L 1C6
                    </p>
                </div>


            </div>
            <div class="col-lg-4">

                <!-- Skinned mailchimp form -->
                <form action="https://utmmcss.us19.list-manage.com/subscribe/post?u=c764424eb2db9d2b40b82f5fe&amp;id=c642889e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <h5 id="form-title">Subscribe to our mailing list</h5>
                    <input id="mce-EMAIL" type="email" name="EMAIL" value="" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c764424eb2db9d2b40b82f5fe_c642889e45" tabindex="-1" value=""></div>
                    <input id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe">
                </form>

            </div>

        </div>
        <p id="copyright">
            &lt/&gt by Henry Tu, Marissa Shey, Sherman Liu, and Nina Ricci Lu with <i class="fa fa-coffee" aria-hidden="true"></i><br>
            Copyright &copy; <span id="year">2020</span>
        </p>
    </div>

</footer>