/* General */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
* {
    font-family: Montserrat, sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 600 !important;
}

.spacer {
    height: 50%;
}
.unspace {
    transform: translateY(-50%);
}
.tint {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Navbar */
#main-nav {
    transition: 0.3s;
}
.nav-active {
    background: rgba(0, 0, 0, 0.9) !important;
}
.nav-top {
    background: none !important;
}

/* Content */
.cover {
    background-position: center !important;
    background-size: cover !important;
    height: 90vh;
    margin-bottom: 50px;
}
.fixed-cover {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
}
.fixed-cover-body {
    z-index: 100;
    background: white !important;
    padding-top: 50px;

    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cover-offset {
    margin-top: 90vh !important;
}
.minor-cover-offset {
    margin-top: 30vh !important;
}
.medium-cover-offset {
    margin-top: 60vh !important;
}.minor-cover {
    height: 30vh !important;
}
.medium-cover {
    height: 60vh !important;
}
.cover-content {
    color: white;
    text-align: center;
    transform: translateY(-50%);
}
.cover-content h1 {
    font-size: 5em;
}
.content-section {
    padding-left: 50px;
    padding-right: 50px;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
}
.fade-bg {
    transition: background 0.5s;
}
.img-divider {
    height: 300px;
    background-position: center !important;
    background-size: cover !important;

    margin-top: 50px;
    margin-bottom: 50px;

}

/* Navbar overlay */
.overlay a {
    color:white;
    text-decoration: none;
}
.overlay a:hover {
    color:lightgray;
    text-decoration: none;
}
.overlay a:active {
    color:lightslategray;
    text-decoration: none;
}
.overlay {
    z-index: 900;
    background-color: #222222;
    background: rgba(18, 18, 18, 0.8);

    left: -100%;
    height: 100%;
    width: 100%;
    top: 0;

    transition: .3s;

    position: fixed;
}
.overlay-list {
    z-index: 950;
    text-align: center;
    font: 600 2em Montserrat, sans-serif;

    width: 90em;

    position:absolute;
    left:0; right:0;
    top:50%;
    margin:auto;

    transform: translateY(-50%);

    max-width:100%;
    max-height:100%;

    padding-left: 2px;
    padding-right: 2px;

    list-style-type: none;
}

/* Events */
.event-object {
    min-height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.event-button {
    font-family: Montserrat !important;
    font-weight: 600 !important;
}

.event-object:hover {
    transform: scale(1.01);
}
.upcoming-event-object {
    padding: 0 !important;
    height: 200px;
}
.upcoming-event-left {
    width: calc(100% - 150px);
    height: 100%;
    display: inline-block;
}
.upcoming-event-right {
    width: 150px;
    height: 100%;
    float: right;
    display: inline-block;
    color: white;
}
.upcoming-event-trapezoid {
    border-bottom: 200px solid #FC8865;
    border-left: 40px solid transparent;
    height: 100%;
    width: 150px;
}
.upcoming-event-trapezoid-content {
    height: 200px;
}

.event-column {
    max-width: 900px;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.past-event-object {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.past-event-date {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FC8865;
    color: white;
}
.past-event-date h3 {
    margin: auto;
    padding: 5px;
}
.past-event-content {
    text-align: left;
}

/* Blog */
#article {
    text-align: left
}

#article img {
    max-width: 700px;
    border: solid 1px grey;
}

/* Initiatives */
.event-box{
    height: 250px;
    justify-content: space-around;
    display:flex;
    color:white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #2B4162;
    margin: 0 10px 0 10px;
    border-radius: 20px;
}

.event-description{
    font-size:1rem;
}
.event-cta{
    width: 50%;
}
/* Footer */
#footer {
    min-height: 350px;
    height: 30vh;
    background: rgb(240, 240, 240);
    color: rgb(70, 70, 70);

    bottom: 0 !important;
    margin-top: 50px
}
#footer i {
    color: rgb(70, 70, 70);
}
#footer-spacer {
    height: 50% !important;
}
#footer-content {
    transform: translateY(-50%);
}

#footer-address {
    font-size: 1.1em;
}
#copyright {
    font-size: 0.9em;
}
.footer-quick-links {
    padding: 0;
    list-style-type: none;
    font-size: 1.1em;
}
.footer-quick-links a {
    color: rgb(70, 70, 70);
    font-weight: bold;
}
.footer-quick-links li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer-social-object {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: inline;
}


@media screen and (max-width: 995px) {
    .footer-quick-links {
        display: none;
    }
    #footer-about {
        display: none;
    }
    #footer {
        text-align: center;
    }
}

/* Smaller Screens */
@media screen and (max-width:720px){

    .content-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    #article img {
        max-width: 90vw;
    }

    .past-event-content {
        text-align: center !important;
    }

    .cover-content h1 {
        font-size: 3em !important;
    }
    .cover-content h3 {
        font-size: 1em !important;
    }
}

