/* General */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    font-family: Montserrat;
}

.spacer {
    height: 50%;
}
.tint {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Navbar */
#main-nav {
    transition: 0.3s;
}
.nav-active {
    background: rgba(0, 0, 0, 0.9) !important;
}
.nav-top {
    background: none !important;
}

/* Content */
.cover {
    background-position: center !important;
    background-size: cover !important;
    height: 90vh;
    margin-bottom: 50px;
}
.minor-cover {
    height: 30vh !important;
}
.cover-content {
    color: white;
    text-align: center;
    transform: translateY(-50%);
}
.cover-content h1 {
    font-size: 5em;
}
.content-section {
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;
}
.img-divider {
    height: 300px;
    background-position: center !important;
    background-size: cover !important;

    margin-top: 50px;
    margin-bottom: 50px;

}

/* Navbar overlay */
.overlay a {
    color:white;
    text-decoration: none;
}
.overlay a:hover {
    color:lightgray;
    text-decoration: none;
}
.overlay a:active {
    color:lightslategray;
    text-decoration: none;
}
.overlay {
    z-index: 900;
    background-color: #222222;
    background: rgba(18, 18, 18, 0.8);

    top: -100%;
    height: 100%;
    width: 100%;

    transition: .3s;

    position: fixed;
}
.overlay-list {
    z-index: 950;
    text-align: center;
    font: 300 2em 'Lato';

    width: 90em;

    position:absolute;
    left:0; right:0;
    top:50%;
    margin:auto;

    transform: translateY(-50%);

    max-width:100%;
    max-height:100%;

    padding-left: 2px;
    padding-right: 2px;

    list-style-type: none;
}

/* Post */
#article {
    text-align: left
}

#article img {
    max-width: 700px;
    border: solid 1px grey;
}

/* Smaller Screens */
@media screen and (max-width:720px){

    .content-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    #article img {
        max-width: 90vw;
    }
}